body {
  background: #c898d0;
}

a {
  color: #E600E6;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 24px;
}

#wrapper {
  background: #ffffff;
  min-width: 320px;
  max-width: 750px;
  height: 100%;
  margin: -15px auto;
  padding: 10px;
  min-height: 900px;
}

#signup-email, 
#signup-phone {
  padding-bottom: 10px;
}

.message {
  margin: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.message-error {
  border: 3px solid #ff0000;
  background: #ffb6c1;
}

.message-notice {
  border: 3px solid #70df00;
  background: #ccff99;
}
